.image_tag {
  height: 50px;
  width: 200px;
  border-radius: 50%;
}

h1 {
  font-size: 28px;
}

.list-inline {
	list-style: none;
	// margin-left: 0;
	// padding-left: 0;
  padding: 5px;
}

.list-inline > li {
	display: inline-block;
}

h3 {
padding-top: 10px;
}

h2 {
  font-size: 30px;
  align-items: center;
}

nav a {
  display: inline-block;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: black;
  font-size: 20px;
}

.table1 {
  padding: 30px;
  margin-top: 20px;
  max-width: 55%;
}

.table2 {
  padding: 30px;
  margin-top: 20px;
  max-width: 45%;
  padding-top: 10%;
}

h3 {
  margin-top: 20px;
}

.reviews {
  align-items: center;
}

.price {
  color: #B6B5FF;
}

.container {
  // align-items: center;
  max-width: 1300px;
}

.image-rounded {
width: 650px;
height: 500px;
border-radius: 3%;
}

.after-photo {
  margin-top: 20px;
  color: #B6B5FF;
}

.rented {
  color: #B6B5FF;
}

.reviews {
  align-items: center;
}

p {
  text-align: justify;
  margin-top: 30px;
}

.price {
  font-size: 20px;
  margin-top: 5px;
}
