// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";
.card_power {
  display: block;
}
.card-img {
  padding: 4px auto;
}

a {
  // color: inherit;
  padding-top: 2;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.white-btn {
  color: white;
}

.power-card {
  padding-top: 25px;
}

.index-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.search-bar-width {
  width: 30rem;
}

.card-price {
  padding-top: 15px;
}
