.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.form-control {
  border-radius: 10px;
  border-color: #FF7070;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.bg-color-rouge {
  background: rgba(255, 0, 0, 0.56);
}
.add-power {
  color: #FFFFFF;
  width: 200px;
  left: 1169px;
  top: 40px;
  background-color: #B6B5FF;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  border-radius: 50px;
  margin: auto;
  text-align: center;
  margin-left: 30px;
}
.powerent {
  width: 247px;
  height: 45px;
  left: 741px;
  top: 32px;

  // font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;

  color: #FFFFFF;
}

.icon {
  font-size: 30px;
}

.sentence {
  margin-left: 8px;
}

.white-btn {
font-size: 20px;
}
