<div class="navbar navbar-expand-sm navbar-lewagon bg-color-rouge">
  <div class="container-fluid">
    <div>
      <p class="navbar-brand add-power"><%= link_to "+ Super Power",  new_super_power_path, class: "white-btn" %></p>
    </div>
    <%= link_to "POWERENT", super_powers_path, class: "powerent" %>
    <%# <h1 class="powerent">POWERENT</h1> %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <i class="fa-regular fa-star" class="nav-link icon"></i>
          </li>
          <li class="nav-item">
            <%= link_to dashboard_path do %>
              <i class="fa-regular fa-user" class="nav-link icon"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <i class="fa-light fa-star" class="nav-link icon"></i>
          </li>
      </ul>
    </div>
  </div>
</div>
