<div class="navbar navbar-expand-sm navbar-lewagon bg-color-rouge">
    <div class="container-fluid">
      <div>
        <p class="navbar-brand add-power"><%= link_to "+ Super Power",  new_super_power_path %></p>
      </div>
      <h1 class="powerent">POWERENT</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">☆</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">♀︎</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">🛒</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
